{
  "presets": ["es2017", "react", "env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "src": "./src",
          "common": "./src/common",
          "config": "./config",
          "modules": "./src/modules"
        }
      }
    ],
    "css-modules-transform"
  ]
}